body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);;
}
.glavniDiv{
    background-color: white;
    width: 800px;
    height: 800px;
    margin: auto;
}
/* pocetni text */
.div1{
    text-align: center;
}
h1{
    font-size: 35px;
    text-align: center;
}
.paragraf1{
    font-size: 18px;
}

/* pocinjemo sa izradom kartica */
.divKartica{
    display: flex;
    justify-content: center;
}
.kartica{
    border: 1px solid grey;
    width: 170px;
    height: 190px;
    text-align: center;
    margin-right: 25px;
}
#btnKartica1{
    border-radius: 25px;
    padding: 8px 25px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 15px;
    margin-top: -25px;
}
#btnKartica1:hover{
    background-color: darkcyan;
    transition: 1s;
}
/* btn dugme kartice 2 */
#btnKartica2{
    border-radius: 25px;
    padding: 8px 25px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 15px;
    margin-top: -25px;
}
#btnKartica2:hover{
    background-color: darkcyan;
    transition: 1s;
}
/* btn dugme kartice 3 */
#btnKartica3{
    border-radius: 25px;
    padding: 8px 25px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 15px;
    margin-top: -25px;
}
#btnKartica3:hover{
    background-color: darkcyan;
    transition: 1s;
}
/* div koji se nalazi na kraju CART */
.cart{
    border: 1px solid grey;
    height: 400px;
    width: 750px;
    margin-left: 23px;
}
.cartCene{
    border-bottom: 1px solid grey;
    width: 180px;
    display: flex;
    gap: 40px;
    margin-left: 25px;
    padding-left: 25px;
}
.drugiDeoCart{
    border-top: 1px solid grey;
    width: 700px;
    margin: auto;
}